.card.container-counter {
    border: 3px solid white;
    min-width: 18rem;
    background-color: transparent;
    margin: 24px;

  }
  
  .card-header.counter-title {
    color: #ceecf2;
    border-bottom: 3px solid white;
  }

  .calculator {
    max-width: 300px;
    margin: 0 auto;
    background-color: #0D0D0D;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }